<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>User Details</h5>
      <div>
        <input type="text" [formControl]="searchControl" placeholder="Search users..." class="form-control">
      </div>
      <div class="btn-popup">
        <a class="btn btn-primary" [routerLink]="'/users/create-user'">Create User</a>
      </div>
    </div>
    <div class="card-body">
      <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" sortable="firstName" (sort)="onSort($event)">First Name</th>
                <th scope="col" sortable="lastName" (sort)="onSort($event)">Last Name</th>
                <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
                <th scope="col" sortable="phoneNumber" (sort)="onSort($event)">Phone Number</th>
                <th scope="col" sortable="role" (sort)="onSort($event)">Role</th>
                <th scope="col" sortable="createdBy" (sort)="onSort($event)">Created By</th>
                <th scope="col" sortable="lastLogin" (sort)="onSort($event)">Last Login</th>
                <th scope="col" sortable="isActive" (sort)="onSort($event)">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users$ | async">
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.role.role}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{ getElapsedTime(item.lastLogin) }}</td>
                <td>{{item.isActive ? 'Active' : 'Not Active'}}</td>
                <td>
                  <button class="btn btn-sm btn-secondary" (click)="toggleActive(item)">
                    {{ item.isActive ? 'Deactivate' : 'Activate' }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center p-2">
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="page" [pageSize]="pageSize" (pageChange)="onPageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
