<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5>Job Offers Drafts List</h5>
      <div>
        <input
          type="text"
          [formControl]="searchControl"
          placeholder="Search draft..."
          class="form-control"
          (keydown.enter)="search()"
          (keyup)="search()"
        />
      </div>
      <div class="btn-popup">
        <a class="btn btn-primary" [routerLink]="'/job-offers/list-offers'"
          >Consult Published</a
        >
      </div>
    </div>
    <div class="card-body">
      <div
        id="batchDelete"
        class="category-table custom-datatable transcation-datatable user-image"
      >
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" sortable="Reference" (sort)="onSort()">
                  Reference
                </th>
                <th scope="col" sortable="Company" (sort)="onSort()">
                  Company
                </th>
                <th scope="col" sortable="Title" (sort)="onSort()">Title</th>
                <th scope="col" sortable="Requirements" (sort)="onSort()">
                  Requirements
                </th>
                <th scope="col" sortable="Creation Date" (sort)="onSort()">
                  Creation Date
                </th>
                <th scope="col" sortable="Last update" (sort)="onSort()">
                  Last update
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of jobOffers">
                <td>{{ item.reference }}</td>
                <td>{{ item.employer.companyName }}</td>
                <td>{{ item.jobTitle }}</td>
                <td>{{ item.requirements.length }}</td>
                <td>{{ item.creationDate }}</td>
                <td>{{ item.updateDate }}</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center p-2">
            <ngb-pagination
              [collectionSize]="total"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="onPageChange($event)"
            >
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
