<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-header">
          <h5>Add User</h5>
        </div>
        <div class="card-body tab2-card">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>Account</a>
              <ng-template ngbNavContent>
                <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="needs-validation user-add" novalidate>
                  <h4>Account Details</h4>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="fname"><span>*</span> First Name</label></div>
                    <div class="col-xl-8 col-md-7">
                      <input class="form-control" id="fname" formControlName="fname" type="text" required>
                      <div *ngIf="accountForm.get('fname').invalid && (accountForm.get('fname').dirty || accountForm.get('fname').touched)" class="text-danger">
                        First Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="lname"><span>*</span> Last Name</label></div>
                    <div class="col-xl-8 col-md-7">
                      <input class="form-control" id="lname" formControlName="lname" type="text" required>
                      <div *ngIf="accountForm.get('lname').invalid && (accountForm.get('lname').dirty || accountForm.get('lname').touched)" class="text-danger">
                        Last Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="username"><span>*</span> Username</label></div>
                    <div class="col-xl-8 col-md-7">
                      <input class="form-control" id="username" formControlName="username" type="text" required>
                      <div *ngIf="accountForm.get('username').hasError('required') && accountForm.get('username').touched" class="text-danger">
                        Username is required.
                      </div>
                      <div *ngIf="accountForm.get('username').hasError('usernameExists') && accountForm.get('username').touched" class="text-danger">
                        Username already exists.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="gender"><span>*</span>Gender</label></div>
                    <div class="col-xl-8 col-md-7">
                      <select class="form-control" id="gender" formControlName="gender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                      <div *ngIf="accountForm.get('gender').invalid && (accountForm.get('gender').dirty || accountForm.get('gender').touched)" class="text-danger">
                        Gender is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="email"><span>*</span> Email</label></div>
                    <div class="col-xl-8 col-md-7">
                      <input class="form-control" id="email" formControlName="email" type="email" required>
                      <div *ngIf="accountForm.get('email').hasError('required') && accountForm.get('email').touched" class="text-danger">
                        Email is required.
                      </div>
                      <div *ngIf="accountForm.get('email').hasError('email') && accountForm.get('email').touched" class="text-danger">
                        Invalid email format.
                      </div>
                      <div *ngIf="accountForm.get('email').hasError('emailExists') && accountForm.get('email').touched" class="text-danger">
                        Email already exists.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="phoneNumber"><span>*</span>Phone Number</label></div>
                    <div class="col-xl-8 col-md-7">
                      <input class="form-control" id="phoneNumber" formControlName="phoneNumber" type="text" >
                      <div *ngIf="accountForm.get('phoneNumber').invalid && (accountForm.get('phoneNumber').dirty || accountForm.get('phoneNumber').touched)" class="text-danger">
                        Phone number must be exactly 8 digits.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="dob"><span>*</span>Date of Birth</label></div>
                    <div class="col-xl-8 col-md-7">
                      <input class="form-control" id="dob" formControlName="dob" type="date" required>
                      <div *ngIf="accountForm.get('dob').invalid && (accountForm.get('dob').dirty || accountForm.get('dob').touched)" class="text-danger">
                        Date of Birth is required.
                      </div>
                      <div *ngIf="accountForm.get('dob').hasError('underage') && accountForm.get('dob').touched" class="text-danger">
                        User must be at least 18 years old.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="location">Location</label></div>
                    <div class="col-xl-8 col-md-7"><input class="form-control" id="location" formControlName="location" type="text"></div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="roleId"><span>*</span> Role</label></div>
                    <div class="col-xl-8 col-md-7">
                      <select class="form-control" id="roleId" formControlName="roleId" required>
                        <option value="">Select Role</option>
                        <option *ngFor="let role of roles" [value]="role.roleId">{{ role.role }}</option>
                      </select>
                      <div *ngIf="accountForm.get('roleId').invalid && (accountForm.get('roleId').dirty || accountForm.get('roleId').touched)" class="text-danger">
                        Role is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="avatar"><span>*</span> Avatar</label></div>
                    <div class="col-xl-8 col-md-7">
                      <div class="avatar-grid">
                        <img *ngFor="let avatar of avatars" [src]="avatar" (click)="selectAvatar(avatar)"
                             [class.selected]="avatar === selectedAvatar" class="avatar">
                      </div>
                      <div *ngIf="selectedAvatar" class="selected-avatar-preview">
                        <h5>Selected Avatar:</h5>
                        <img [src]="selectedAvatar" alt="Selected Avatar" class="avatar-preview">
                      </div>
                      <div *ngIf="accountForm.get('avatar').invalid && (accountForm.get('avatar').dirty || accountForm.get('avatar').touched)" class="text-danger">
                        Avatar is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="password"><span>*</span> Password</label></div>
                    <div class="col-xl-8 col-md-7">
                      <input class="form-control" id="password" formControlName="password" type="password" required>
                      <div *ngIf="accountForm.get('password').invalid && (accountForm.get('password').dirty || accountForm.get('password').touched)" class="text-danger">
                        Password is required.
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-3 col-md-4"><label for="confirmPwd"><span>*</span> Confirm Password</label></div>
                    <div class="col-xl-8 col-md-7">
                      <input class="form-control" id="confirmPwd" formControlName="confirmPwd" type="password" required>
                      <div *ngIf="accountForm.get('confirmPwd').invalid && (accountForm.get('confirmPwd').dirty || accountForm.get('confirmPwd').touched)" class="text-danger">
                        Passwords must match.
                      </div>
                      <div *ngIf="accountForm.hasError('mustMatch') && (accountForm.get('confirmPwd').dirty || accountForm.get('confirmPwd').touched)" class="text-danger">
                        Passwords must match.
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
